
/* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Open+Sans:wght@300&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --clr-bg : #1B1C47;
    --clr-header: #090909;
    --clr-elements: #3b488f;
    --clr-font: #fff;
}


a{
    color: var(--clr-header);
    text-decoration: none;
}