/* Fonte do site */
@font-face {
    font-family: yugioh;
    src: url(../fonte/yu-gi-oh-matrix-bold.ttf);
}

*,::after,*::before{
    box-sizing: border-box;
}

:root{
    --clr-bg : #1B1C47;
    --clr-header: #090909;
    --clr-second-bg: #06102a;
    --clr-elements: #3b488f;
    --clr-font: #fff;
}

body {
    background-color: var(--clr-bg);
    font-family: yugioh;
}

header{
    max-width: 80%;
    height: 70px;
    background-color: var(--clr-header);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 30px;
}

.caixa-esquerda, .caixa-direita{
    width: 40%;
    height: 70px;
}

.caixa-esquerda{
    display: flex;
    justify-content: center;
}

#logo{
    display: block;
    width: min(20rem, 80%);
}

#logo img{
    width: 100%;
    height: 91px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}

#menu li, a{
    text-decoration: none;
    color: var(--clr-font);
    font-size: 32px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

#menu li:hover {
    border-bottom: 3px solid #BF3124;
    transition: all 0.5s;
}


main{
    overflow: hidden;
}

/* caixa inicio menu */
#fundo{
    max-width: 80%;
    height: 542px;
    background-image: url(../img/background/background-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
}

.fundo-cartas{
    position: relative;
    width: 80%;
    height: 542px;
    background-image: url(../img/background/background-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    margin: 90px auto;
    display: flex;
}



/* carrucel home */

.controls {
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(41, 40, 40, 0.266);
}
.left {
    margin-left: -50px;
}

.right {
    margin-left: 1080px;
    margin-top: -30px;
}

.carrousel {
    width: 1100px;
    margin: auto;
    height: 450px;
    margin-top: 70px;
    
    overflow:hidden;
}
.controls:hover {
    background-color: rgba(108, 88, 0, 0.644);
    
}
.controls img{
    height: 30px;
    width: 32px;
    margin: -7px 0 0 -10px;
}

.item {
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    transition: 1s all;
}

.cont {
    position: absolute;
    width: 1050px;
    margin-top: 190px;
    margin-left: 15px;
   
}
.tapa {
    width: 4500px;/* 	change if the size is >     12000  :) */
    transition: .9s all;
}
.item img {
    width: 100%;
    height: 100%;
    
}
.item:hover {
    margin-top: -5px;
}


/* fim carroucel */

/* imagem flutuante */

.flutuante{
    position: absolute;
    display: flex;
    max-width: 230px;
    transform: translatey(0x);
    animation: float 4s ease-in-out infinite;
    z-index: 999;
    rotate: -15deg;
    top:550px;
    left:-90px;
}

.flutuante2{
    position: absolute;
    display: flex;
    max-width: 210px;
    transform: translatey(0x);
    animation: float 4s ease-in-out infinite;
    z-index: 999;
    rotate: 15deg;
    top:2040px;
    left:1070px;
}

.flutuante3{
    position: absolute;
    display: flex;
    max-width: 210px;
    transform: translatey(0x);
    animation: float 4s ease-in-out infinite;
    z-index: 999;
    rotate: 1deg;
    top:2055px;
    left:1100px;
}


@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
    
}


h2{
    position: relative;
    color: #fff ;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

#eventos{
    position: relative;
    display: grid;
    max-width: 80%;
    height: 542px;
    background-image: url(../img/background/background-eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px auto;
    display: flex;
}

.eventos-branco{
    display: grid;
    position: relative;
    background-color: #ffffffdb;
    width: 35%;
    height: 40%;
    border-radius: 10px;
    z-index: 2;
    margin: 230px 200px 30px 200px;
    opacity: 1;
}

.eventos-branco p{
    display: grid;
    position: relative;
    margin: 45px 0 30px 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.eventos-branco i{
    display: grid;
    position: relative;
    margin: 10px 0 0 300px;
    font-size: 45px;
}

.title-noticias-container{
    max-width: 80%;
    margin: 10vh auto;
}

.title-noticias{
    color: var(--clr-font);
    font-size: 50px;
}

#caixa-noticia{
    position: relative;
    display: grid;
    max-width: 80%;
    height: 842px;
    margin: auto auto auto 145px;
    flex-direction: column;
    float: left;
    background-color: #010F37;
    border-radius: 10px 10px 10px 10px;
}

#container-not-um, #container-not-dois, #container-not-tres{
    position: relative;
    margin: 30px 0 0 20px;
    width: 100%;
    height: 250px;
}

#container-not-um img{
    position: relative;
    width: 35%;
    float: left;
}

#container-not-dois img{
    position: relative;
    width: 35%;
    margin-top: 75px ;
    float: left;
}

#container-not-tres img{
    position: relative;
    width: 35%;
    margin-top: 45px ;
    float: left;
}

#container-not-um h4, #container-not-dois h4, #container-not-tres h4{
    margin: 10px 10px 10px 40px;
    font-size: clamp(1rem, 3vw, 2rem);
    color: #BF3124;
}

#container-not-um p, #container-not-dois p, #container-not-tres p{
    margin: 10px 10px 10px 40px;
    font-size: clamp(1rem, 1.2vw, 2rem);
}


.container-not-um, .container-not-dois, .container-not-tres{
    position: relative;
    color: var(--clr-font);
    width: 510px;
    height: 100%;
    margin-left: 250px;
}

#newslater{
    position: relative;
    background-color: #010F37;
    width: 350px;
    height: 350px;
    margin: 0 0 0 50px;
    border-radius: 20px;
    float: left;
    -webkit-box-shadow:0px 0px 74px 0px #1100ff;
    -moz-box-shadow:0px 0px 74px 0px #1100ff;
    box-shadow:0px 0px 74px 0px #1100ff;
}

#newslater i{
    position: relative;
    margin: 50px 15px 0 34px;
    font-size: 45px;
    float: left;
}

#newslater h2{
    position: relative;
    font-size: 30px;
}

fieldset{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    margin: 50px auto;
    font-size: 25px;
}

#email{
    position: relative;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    opacity: 0.80;
}

.email{
    color: #fff;
}

#botao{
    position: relative;
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#botao{
    background-color: #fff;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse{
    100%{
        opacity: 0.80;
        transform: scale(0.8);
    }
}

footer {
    margin: 10vh auto 10vh auto;
    max-width: 80%;
    background: url(../img/background/background-space.jpg) center center no-repeat;
    background-size: cover;
    background-color: #fff;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.footer-content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-left-container,
.footer-middle-container,
.footer-right-container {
    width: 33.3%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-left-title-container,
.footer-right-content-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left-title-container {
    justify-content: space-between;
}

.footer-right-content-container {
    justify-content: baseline;
}

.footer-left-title-container,
a,
.follow-us-title {
    color: var(--clr-font);
    text-decoration: none;
}

.footer-left-title-container,
a,
.follow-us-title {
    color: var(--clr-font);
    text-decoration: none;
}

.footer-left-title-container,
.follow-us-title,
.list-names {
    color: var(--clr-font);
    text-decoration: none;
}

.footer-left-image {
    width: clamp(13rem, 16vw, 30rem);
    height: clamp(7rem, 6vh, 10rem);
}

.footer-image {
    width: 100%;
    height: 100%;
}

.footer-image img {
    width: 100%;
    height: 100%;
}

.link-container {
    width: 80%;
    height: 80%;
}

.footer-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.list-links .list-names,
.list-links,
.icon-link {
    margin: 0;
}

.list-names,
.footer-left-title,
.follow-us-title {
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
}

.icon-link i {
    color: var(--clr-font);
}

.social-icons-container {
    width: 100%;
    margin-top: 2rem;
}

.social-list {
    display: flex;
    justify-content: space-evenly;
}

.icon-link i {
    font-size: 2.5rem;
}

.copyright-container {
    width: 100%;
    border-top: 2px solid var(--clr-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1rem 1.5rem 1rem;
}

.copyright-text{
    margin-top: 1rem;
}

.copyright-title,
.copyright-text {
    color: var(--clr-font);
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: center;
}


/* TABLET */
@media (min-width: 481px) and (max-width: 767px) {
    .fundo{
        flex-direction: column;
    }
    
    .footer-content {
        flex-direction: column;
    }

    .footer-left-container,
    .footer-middle-container,
    .footer-right-container {
        width: 100%;
    }

    .footer-right-content-container,
    .footer-list,
    .footer-left-title-container {
        padding: 0;
    }

    .footer-right-container{
        height: auto;
        padding-top: 1rem;
    }

    .footer-right-content-container{
        height: 100%;
        justify-content: space-around;
        
    }


}