/* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Open+Sans:wght@300&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --clr-bg : #1B1C47;
    --clr-header: #090909;
    --clr-second-bg: #06102a;
    --clr-elements: #3b488f;
    --clr-font: #fff;
}

body {
    background-color: var(--clr-bg);
    font-family: 'Dhurjati', 'Verdana', sans-serif;
}


header{
    max-width: 80%;
    height: 70px;
    background-color: var(--clr-header);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 30px;
}

p {
    font-family: verdana;
}

.caixa-esquerda, .caixa-direita{
    width: 40%;
    height: 70px;
}

.caixa-esquerda{
    display: flex;
    justify-content: center;
}

#logo{
    display: block;
    width: min(20rem, 80%);
}

#logo img{
    width: 100%;
    height: 91px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
}

#menu li, a{
    text-decoration: none;
    color: var(--clr-font);
    font-size: 32px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

#menu li:hover {
    border-bottom: 3px solid #BF3124;
    transition: all 0.5s;
}

.tela-principal {
    max-width: 80%;
    height: 542px;
    background-image: url(../img/background/background-arcV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
}

.containerFormatacao {
    max-width: 80%;
    min-width: 50%;
    height: 70vh;

    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

    background-color: var(--clr-second-bg);
    border-radius: 50px 0 50px 0;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.estruturasFormatacao h1 {
    color: var(--clr-font);
    font-size: 9.8vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.estruturasFormatacao p {
    padding: 10px 30px;
    font-size: 1.8rem;
    font-family: verdana;
    color: var(--clr-font);
    text-align: left;
}

.caixa {
    width: 50%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 



.caixa img{
    max-width: 80%;
    /*margin: 2% 10%;*/
    border: 1px solid #FFCC77;
    border-radius: 50%;
    background-image: url(../img/background/background-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

/*
#descricaoPersonagem {
    text-align: center;
    height: auto;
    flex-grow: 1;
}


.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  } 
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: url(../img/carta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    font-family: verdana;
    color: #FFF;
    font-size: 32px;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 30px;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }
*/

@media screen and (max-width: 800px){
    .containerFormatacao {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .caixa img{
        
       
    }
}