/* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Open+Sans:wght@300&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --clr-bg : #1B1C47;
    --clr-header: #090909;
    --clr-elements: #3b488f;
    --clr-font: #fff;
}

body {
  
    height: 100vh;
    background-color: var(--clr-bg);
    font-family: 'Dhurjati';
}

header{
    max-width: 80%;
    height: 70px;
    background-color: var(--clr-header);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}

.caixa {
    width: 30%;
    height: 70px;
}

#logo img{
    width: 255px;
    height: 91px;
    background-color: aliceblue;
}

#menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}


#menu li, a{
    text-decoration: none;
    color: var(--clr-font);
    font-size: 32px;
    margin-left: 20px;
}

